.module {
	display: block;
	text-align: center;
}

form {
	display: block;
	text-align: left;
}
table {
	width: 100%;
}

.details,
.product-table {
	display: inline-block;
	vertical-align: top;
}
.product-table {
	margin-left: 21%;
	width: 43%;
}

.details h2 {
	font: 900 30px Impact, Charcoal, sans-serif;
	margin: 0 0 29px;
	text-align: center;
}

.horizontal label {
	width: 160px;
}

.input-group {
	position: relative;
}
.input-group.textbox textarea {
	width: 235px;
}
.input-group.textbox label {
	vertical-align: top;
}

.total-group {
	text-align: center;
	margin: 15px;
}


.message {
	position: absolute;
	top: 12px;
	font-size: 14px;
}

.error-input {
	border: 2px solid #FF0000;
}
.error {
	color: #FF0000;
}
.success-input {
	border: 2px solid #5EA862;
}
.success {
	color: #5EA862;
}

.total {
	font-size: 25px;
	font-weight: 900;
}

.price {
	color: #5EA862;
	font-size: 25px;
	font-weight: 900;
}